@import "../../../../styles/module-imports";

.contentWrapper {
  padding: 25px 50px 0 25px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;

  @include small-down {
    margin-top: 170px;
  }
}
