@import "../../../../../../styles/variables";

.cardWrapper {
  width: 340px;
  position: relative;
  border: 1px solid $border-color;
  background-color: $card-background;
  float: left;
  margin-left: 25px;
  margin-bottom: 25px;
  padding: 15px 25px;
  cursor: pointer;

  .iconWrapper {
    position: absolute;
    right: 10px;
    padding: 4px 6px;
    border-radius: 50%;
    background: $white;
    display: none;

    img {
      width: 14px;
      height: 14px;
    }
  }

  &:hover {
    background: $hover-background;
    .iconWrapper {
      display: block;
    }
  }
}

.header {
  color: $font-color-primary;
  font-size: $font-size-large;
  font-weight: bold;
  opacity: 0.8;
  margin-bottom: 5px;
  font-family: "Lato-Bold";
}

.icon {
  height: 14px;
  width: 14px;
  opacity: 0.3;
  margin-right: 10px;
}
