@import "../../../../../../styles/variables";

.cardWrapper {
  width: 340px;
  min-height: 90px;
  position: relative;
  border: 1px solid $border-color;
  border-radius: 15px;
  background-color: $card-background;
  margin-left: 25px;
  margin-bottom: 25px;
  padding: 15px 50px 15px 25px;

  .iconWrapper {
    height: 100px;
    background: $button-green-bg;
    position: absolute;
    padding: 5px 5px;
    right: 5px;
    top: 5px;
    border-radius: 15px;
    cursor: pointer;
    visibility: hidden;

    img {
      margin-top: 5px;
      width: 24px;
      height: 24px;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  &:hover {
    background: $hover-background;
    .iconWrapper {
      visibility: visible;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.header {
  color: $font-color-primary;
  font-size: $font-size-large;
  opacity: 0.8;
  margin-bottom: 5px;
  font-family: "Lato-Bold";
}

.icon {
  height: 14px;
  width: 14px;
  opacity: 0.3;
  margin-right: 10px;
}

.body {
  font-family: "Lato-Regular";
  opacity: 0.7;
}
