@import "../../../../../../styles/variables";

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  & :focus-visible {
    outline: none !important;
  }

  :global(.MuiBackdrop-root:focus-visible) {
    outline: none !important;
  }
}

.detailsWrapper {
  width: 440px;
  height: 350px;
  background-color: $white;
  position: relative;

  button {
    position: absolute;
    bottom: 10px;
    right: 25px;
    font-size: $font-size-small;
    border-radius: 16px;
    background-color: $button-green-bg;
    padding: 4px 15px;
    color: $white;
    border: none;
    cursor: pointer;
  }
}

.modalHeader {
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding: 0px 25px;
  align-items: center;
  opacity: 0.8;

  p {
    font-size: $font-size-medium;
    color: $font-color-primary;
    opacity: 0.8;
    font-family: "Lato-Bold";
  }

  img {
    width: 16px;
    height: 16px;
    cursor: pointer;
    opacity: 0.3;
  }
}

.modalContentWrapper {
  padding: 15px 25px 10px 25px;
}

.descriptionLabel {
  margin-top: 20px;
  font-size: $font-size-small;
  opacity: 0.8;
  font-family: "Lato-Bold";
}

.descriptionText {
  font-size: $font-size-small;
  opacity: 0.8;
  font-family: "Lato-Regular";
}
