$font-color-primary: #001122;
$border-color: RGBA(0, 17, 34, 0.1);
$card-background: RGBA(246, 246, 246, 0.2);
$hover-background: #f6f6f6;
$green: #37b24d;
$white: white;
$black: black;
$header-border: #eeeeee;
$error: #f54b5e;

$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-extra-large: 22px;
$font-size-header: 28px;
