@import "../../styles/module-imports";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-small;
  border-radius: 30px;
  background-color: $green;
  padding: 10px 15px;
  font-weight: bold;
  color: $white;
  border: none;
  cursor: pointer;
  opacity: 1;

  &:hover {
    opacity: 0.8;
  }
  @include small-down {
    width: 100%;
  }
}

.buttonIcon {
  margin-left: 5px;
}

.cancelButton {
  background-color: $white;
  border: 1px solid $green;
  color: $green;
  margin-right: 10px;
}
