@import "../../styles/common";

.textAreaWrapper {
  @extend %inputWrapper;
}

.label {
  @extend %label;
}

.input {
  @extend %input;
  min-height: 100px;
  overflow-y: unset;
  height: auto;
}

.errorMessage {
  @extend %errorMessage;
}

.editInput {
  @extend %editInput;
}
