@import "../../../styles/variables";

.headerContainer {
  border-bottom: 1px solid $header-border;
  padding: 19px 30px 21px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topPar {
  color: $font-color-primary;
  font-size: $font-size-medium;
  opacity: 0.3;
  font-family: "Lato-Bold";
}

.header {
  font-size: $font-size-extra-large;
  opacity: 0.8;
  color: $font-color-primary;
  font-family: "Lato-Regular";
}
