@import "../../../styles/variables";
@import "../../../styles/breakpoints";

.headerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $white;
  z-index: 1;
}

.contentWrapper {
  width: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $header-border;
  padding: 20px;
  background-color: $white;
  align-items: center;

  @include small-down {
    display: block;
  }
}

.topPar {
  color: $font-color-primary;
  font-size: $font-size-medium;
  opacity: 0.3;
  font-family: "Lato-Bold";
}

.header {
  font-size: $font-size-extra-large;
  opacity: 0.8;
  color: $font-color-primary;
  font-family: "Lato-Regular";

  @include small-down {
    text-align: center;
  }
}
